header{
    background-color: #242424;
    height: 70px;
}
img#logo{
    width: 41px;
    height: 60px;
    left: 1200px;
    top: 12px;
    position: absolute;
    
}

/* teste */

nav#menu{
    display: inline;
    
}
ul#menu{
    list-style: none;
    position: absolute;
    top: 20px;
    left: auto;
}
ul#menu li{
    display: inline;
    padding: 10px;
    margin: 0px 10px 0px 10px;
}